#foo {
  display: block;
  /* width: 500px;
  height: 500px; */
  /* background: #5e5e5e; */
}

#tree {
  /* width: 100px;
  height: 30px; */
  /* background: #000000; */
  margin-left: auto;
}

/* .question, .codewritearea {
  padding: 25px;
  display: table-cell;
  width: 50%;
}
.question {
  text-align: left;
  position: absolute;
  top: 0vh;
}
.codewritearea {
  border-left: 2px solid navy;
} */
