.input_width{
  width: 600px;
  height: 450px;
  right: auto;
}

.input_width_testcase{
  width: 300px;
  height: 70px;
  right: auto;
  }

.timer {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  font-weight: bolder;
}

.home {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 60cm;
  font-size: 2em;
  font-weight: bolder;
}

.exampage {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
}

.cases {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  font-weight: bolder;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
